// Variables
@import 'variables';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
}

.login-card {
  margin-top: 9rem;
  border-radius: 0;
}

.fa {
  color: rgba(0, 0, 0, 0.8);
}

.badge {
  margin-top: 5px;
  font-size: 105%;
  padding: 0.75rem 0.4rem;
}

.navbar {
  padding: 1rem 1rem;
}

.py-4 {
  margin-bottom: 10%;
}

.google {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  vertical-align: middle;
  color: #212529;
  border-color: #ced4da;
}

.google:hover {
  background-color: #ffffff;
}

img.google-logo {
  width: 42px;
  padding-right: 20px;
}

.task-done-checkbox {
  width: 20px;
  height: 20px;
}

a .btn-primary {
  color: #ffffff !important;
}

a {
  cursor: pointer;
}